# deps
node_modules

# next
.next
out
build

# prisma
src/generated
prisma/*.db
prisma/*.db-journal
*.db
*.db-journal

# env
.env
.env.local
.env*.local

# skills scaffoldees par prisma init
.claude
.windsurf
.agents
skills-lock.json

# devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# divers
.DS_Store
*.tsbuildinfo
next-env.d.ts
